<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="p:domain_verify" content="cf2165a7f943f8f3c33e7fd1e5e258a7"/>
<meta name="google-site-verification" content="qAJi6Kx8WnqTUaxvV-PZPSgsTFZqfZ5BDirfSbHsZ-Y" />
<link rel="canonical" href="{{ site.url }}" />
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<link rel="alternate" type="application/rss+xml" title="RodriguezCommaJ RSS" href="/feed.xml">
<link rel="shortcut icon" type="image/png" href="/favicon.png">
<link rel="stylesheet" href="/css/styles.css">